*.prm
*.mcs
*.cfi
*.bgn
*.bit
*.xwbt
*.bld
*.drc
*.map
*.ncd
*.ngc
*.xrpt
*.ngd
*.ngm
*_pad.csv
*_pad.txt
*.swp
*.lso
_xmsgs
*.mrp
*.pcf
*.prj
*.psr
*.scr
*.srp
*.grf
*.pad
*.par
*.ptwx
*.unroutes
*.xpi
*.xml
*.lst
*.html
*.log
xlnx_auto_0_xdb
xst
