# clock
NET "ext_clk" LOC="N9" | IOSTANDARD=LVCMOS18;# CLK0
NET "ext_clk" TNM_NET = "ext_clk";
TIMESPEC "TS_ext_clk" = PERIOD "ext_clk" 10.4167 ns HIGH 50 %;
# data bus
NET "imx_data<0>"  LOC="T5" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA0
NET "imx_data<1>"  LOC="T6" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA1
NET "imx_data<2>"  LOC="P7" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA2
NET "imx_data<3>"  LOC="N8" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA3
NET "imx_data<4>"  LOC="P12"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA4
NET "imx_data<5>"  LOC="T13"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA5
NET "imx_data<6>"  LOC="R13"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA6
NET "imx_data<7>"  LOC="T14"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA7
NET "imx_data<8>"  LOC="P5" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA8
NET "imx_data<9>"  LOC="N6" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA9
NET "imx_data<10>" LOC="T3" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA10
NET "imx_data<11>" LOC="T11"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA11
NET "imx_data<12>" LOC="T4" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA12
NET "imx_data<13>" LOC="R5" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA13
NET "imx_data<14>" LOC="M10"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA14
NET "imx_data<15>" LOC="T10"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA15
# address
NET "imx_address<0>" LOC="N5" | IOSTANDARD=LVCMOS18; # ADDR1
NET "imx_address<1>" LOC="L7" | IOSTANDARD=LVCMOS18; # ADDR2
NET "imx_address<2>" LOC="M7" | IOSTANDARD=LVCMOS18; # ADDR3
NET "imx_address<3>" LOC="M8" | IOSTANDARD=LVCMOS18; # ADDR4
NET "imx_address<4>" LOC="L8" | IOSTANDARD=LVCMOS18; # ADDR5
NET "imx_address<5>" LOC="L9" | IOSTANDARD=LVCMOS18; # ADDR6
NET "imx_address<6>" LOC="L10"| IOSTANDARD=LVCMOS18; # ADDR7
NET "imx_address<7>" LOC="M11"| IOSTANDARD=LVCMOS18; # ADDR8
NET "imx_address<8>" LOC="P11"| IOSTANDARD=LVCMOS18; # ADDR9
NET "imx_address<9>" LOC="N11"| IOSTANDARD=LVCMOS18; # ADDR10
NET "imx_address<10>"LOC="N12"| IOSTANDARD=LVCMOS18; # ADDR11
NET "imx_address<11>"LOC="P13"| IOSTANDARD=LVCMOS18; # ADDR12
# controls
NET "imx_cs_n"  LOC="P10"| IOSTANDARD=LVCMOS18; # CS5N
NET "imx_eb3_n" LOC="P9" | IOSTANDARD=LVCMOS18; # EB0N
NET "imx_oe_n"  LOC="R9" | IOSTANDARD=LVCMOS18; # OEN
# interrupt from fgpa to i.MX
NET "gls_irq" LOC="T12"  | DRIVE=8 | IOSTANDARD=LVCMOS18; # INT
# LED
NET "led_o" LOC="C16"    | DRIVE=12 | IOSTANDARD=LVCMOS33;    #IO_L24P_1 
# Button
NET "button_i" LOC="C15" | DRIVE=12 | IOSTANDARD=LVCMOS33; # IO_L24N_1

