# clock
NET "ext_clk" LOC="P55" | IOSTANDARD=LVCMOS33;# CLK0
NET "ext_clk" TNM_NET = "ext_clk";
TIMESPEC "TS_ext_clk" = PERIOD "ext_clk" 10.4167 ns HIGH 50 %;
# data bus
NET "imx_data<0>" LOC="P1" | IOSTANDARD=LVCMOS33;# D0
NET "imx_data<1>" LOC="P2" | IOSTANDARD=LVCMOS33;# D1
NET "imx_data<2>" LOC="P4" | IOSTANDARD=LVCMOS33;# D2
NET "imx_data<3>" LOC="P5" | IOSTANDARD=LVCMOS33;# D3
NET "imx_data<4>" LOC="P6" | IOSTANDARD=LVCMOS33;# D4
NET "imx_data<5>" LOC="P7" | IOSTANDARD=LVCMOS33;# D5
NET "imx_data<6>" LOC="P8" | IOSTANDARD=LVCMOS33;# D6
NET "imx_data<7>" LOC="P10" | IOSTANDARD=LVCMOS33;# D7
NET "imx_data<8>" LOC="P11" | IOSTANDARD=LVCMOS33;# D8
NET "imx_data<9>" LOC="P12" | IOSTANDARD=LVCMOS33;# D9
NET "imx_data<10>" LOC="P13" | IOSTANDARD=LVCMOS33;# D10
NET "imx_data<11>" LOC="P14" | IOSTANDARD=LVCMOS33;# D11
NET "imx_data<12>" LOC="P15" | IOSTANDARD=LVCMOS33;# D12
NET "imx_data<13>" LOC="P17" | IOSTANDARD=LVCMOS33;# D13
NET "imx_data<14>" LOC="P18" | IOSTANDARD=LVCMOS33;# D14
NET "imx_data<15>" LOC="P20" | IOSTANDARD=LVCMOS33;# D15
# address
NET "imx_address<0>" LOC="P23" | IOSTANDARD=LVCMOS33;# A1
NET "imx_address<1>" LOC="P24" | IOSTANDARD=LVCMOS33;# A2
NET "imx_address<2>" LOC="P25" | IOSTANDARD=LVCMOS33;# A3
NET "imx_address<3>" LOC="P26" | IOSTANDARD=LVCMOS33;# A4
NET "imx_address<4>" LOC="P27" | IOSTANDARD=LVCMOS33;# A5
NET "imx_address<5>" LOC="P28" | IOSTANDARD=LVCMOS33;# A6
NET "imx_address<6>" LOC="P30" | IOSTANDARD=LVCMOS33;# A7
NET "imx_address<7>" LOC="P31" | IOSTANDARD=LVCMOS33;# A8
NET "imx_address<8>" LOC="P32" | IOSTANDARD=LVCMOS33;# A9
NET "imx_address<9>" LOC="P33" | IOSTANDARD=LVCMOS33;# A10
NET "imx_address<10>" LOC="P35" | IOSTANDARD=LVCMOS33;# A11
NET "imx_address<11>" LOC="P36" | IOSTANDARD=LVCMOS33;# A12
# controls
NET "imx_cs_n" LOC="P59" | IOSTANDARD=LVCMOS33;# CTRL1
NET "imx_eb3_n" LOC="P60" | IOSTANDARD=LVCMOS33;# CTRL9
NET "imx_oe_n" LOC="P63" | IOSTANDARD=LVCMOS33;# CTRL10
# interrupt from fgpa to i.MX
NET "gls_irq" LOC="P68" | IOSTANDARD=LVCMOS33;# TIM1
# LED
NET "led_o" LOC="P116" | IOSTANDARD=LVCMOS33;# IO_1
# Button
NET "button_i" LOC="P141" | IOSTANDARD=LVCMOS33;# IO_L01N_0

