# clock
NET "clk" LOC="N9" | IOSTANDARD=LVCMOS18;# CLK0
NET "clk" TNM_NET = "ext_clk";
TIMESPEC "TS_clk" = PERIOD "clk" 10.4167 ns HIGH 50 %;
NET "led" LOC="C16"    | DRIVE=12 | IOSTANDARD=LVCMOS33;    #IO_L24P_1

##############################
# J19 Pins
# See these files for details:
## http://www.armadeus.com/_downloads/apf27/documentation/datasheet_apf27.pdf
## http://www.armadeus.com/_downloads/apf27Dev/documentation/DataSheet_APF27Dev.pdf

### LVDS settings ###
NET "test_pin" LOC="D13"  | IOSTANDARD=LVCMOS33; # a_in: IO_L01P_0
#NET "test_pin" LOC="B15"  | IOSTANDARD=LVCMOS33; # b_in: IO_L02P_0
#NET "test_pin" LOC="C12"  | IOSTANDARD=LVCMOS33; # SCLK: IO_L03P_0
#NET "test_pin" LOC="A14"  | IOSTANDARD=LVCMOS33; # STROBE: IO_L04P_0

### LVDS settings ###
#NET "a_in" LOC="D13"  | IOSTANDARD=BLVDS_25; # IO_L01P_0
#NET "b_in" LOC="B15"  | IOSTANDARD=BLVDS_25; # IO_L02P_0
#NET "SCLK" LOC="C12"  | IOSTANDARD=BLVDS_25; # IO_L03P_0
#NET "STROBE" LOC="A14"  | IOSTANDARD=BLVDS_25; # IO_L04P_0


